/* css/components/header.css */

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0; /* Add some padding above the hero section */
    z-index: 10;
}

#main-header .logo {
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-color-secondary);
}

#main-header nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

#main-header nav a {
    text-decoration: none;
    color: var(--text-color-muted);
    font-weight: 500;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

#main-header nav a:hover {
    color: var(--text-color-secondary);
}

#main-header nav a.active {
    color: var(--text-color-secondary);
    font-weight: 700;
}

#main-header nav a.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--text-color-secondary);
    border-radius: 50%;
}

.window-controls {
    display: flex;
    gap: 8px;
}

.window-controls span {
    width: 12px;
    height: 12px;
    border: 1.5px solid var(--button-ghost-border-color);
    border-radius: 50%;
}